/* Global CSS */
body {
    margin: 0; /* Margin'i sıfırla */
    padding: 0; /* İstenirse padding'i sıfırla */
    box-sizing: border-box; /* Tüm öğelerde kutu modelini ayarlamak için */
  }
  
  html, body, #root {
    height: 100%; /* Yüksekliği tam yap */
  }